<template name="home">
  <div class="row">
    <div class="col-sm-12">
      <h1>Welcome to SD Hacks' Hack Nights!</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Upcoming events</h2>
        </div>
        <div class="panel-body">

        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">About Hack Nights</h2>
        </div>
        <div class="panel-body">
            <p>
              Keytar four dollar toast wolf, church-key drinking vinegar ugh chillwave post-ironic mumblecore American Apparel wayfarers normcore farm-to-table. Master cleanse flexitarian 90's Kickstarter Neutra. Before they sold out Helvetica try-hard deep v, you probably haven't heard of them sriracha kale chips meh readymade yr church-key pug Banksy. Blue Bottle fanny pack pug, Portland Truffaut Williamsburg umami occupy church-key artisan. Organic try-hard mlkshk farm-to-table lumbersexual raw denim. Lomo messenger bag seitan PBR&B mumblecore. Plaid seitan pug, Godard wayfarers Austin selfies bespoke occupy PBR&B scenester heirloom.
            </p>
        </div>
      </div>
    </div>
  </div>
</template>
